data/*
*.txt
*.out
*.npy
Deep-OC-SORT/*
det_env/*
mmpose/*
fast-reid/weights/*
*.pyc
*.pt
*.pth
fast-reid/aic_results/*
reid_env/*
*.zip
stcra/results/*
fast-reid/aic_results/*
UCMCTrack/trk_results/*
yolov8/results/*
vid_inf/outputs/*
test_output/result/*
!*requirements.txt